/* ገጹን መሃል ላይ ለማምጣት */
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f7f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    font-weight: 900;
}

/* ዋናው መያዣ ሳጥን */
.login-container {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
    font-weight: 800;
    height: auto;
    border-radius: 15px;
    border: 5px solid #1a5276;
    background-color: #e1e4e8;
    padding: 5px;

}

/* ሎጎው እና ጽሁፎች */
.login-container img { margin-bottom: 15px; }
.uni-title { color: green; margin-bottom: 5px; font-weight: 800; }

/* የፍለጋ ሳጥን እና በተን */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    font-weight: 800;
    font-size: 28px;
    border-radius: 15px;
    border: 5px solid #e67e22;
    padding: 5px;
    box-shadow: 0 4px 15px rgb(red, green, blue);
}

input[type="text"] {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-weight: 800;
    box-shadow: 0 3px 14px rgba(0,0,0,0.1);
    padding: 5px;
    background-color: wheat;
}

button {
    padding: 12px;
    background-color: #1a5276;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* የውጤት ካርድ (Unique Card) */
.clearance-card {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    border: 1px solid #e1e4e8;
}

.card-header {
    background: #1a5276;
    color: white;
    padding: 15px;
    text-align: center;
    box-shadow: #27ae60;
}

.card-body { padding: 20px; text-align: left; }
.info-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    background-color: red;
    box-shadow: 0 7px  24px rgba(0,0,0,0.1);
    padding: 5px ;
    border: black;
}

/* የሁኔታ ቀለሞች */
.cleared { color: #27ae60; font-weight: bold; }
.pending { color: #e67e22; font-weight: bold; }